### PROJECT

PROJECT_NAME=moodle45

### PORTS

PORT_WEBSERVER=8082
PORT_MYSQL=3308
PORT_REDISINSIGHT=5540
PORT_MAILHOG=8025
PORT_IDP=8080

### SAML IDP
SP_ENTITY_ID=http://fergus.moodle.com
WWWROOT=http://fergus.local:8082
